 <!-- Start: Content-Wrapper-->
 <section id="content_wrapper">
  <!-- Start: Topbar-Dropdown-->

  <!-- Start: Topbar-->
  <header id="topbar" class="bg-white alt">
    <div class="topbar-left">
      <ol class="breadcrumb mt-10">
        <li class="crumb-active"><a routerLink="/inicio">Sistema Memphis</a></li>
      
      </ol>
    </div>

  </header>
  <!-- Begin: Content-->
  <div id="content" class="animated fadeIn">

    
    <div class="row">
      <div class="col-md-12">


        <hr class="mt20 mb30">
       
       
        <div class="">
          <div class="alert alert-system alert-dismissable mb30">

            <h5 class="mt5">Sesión iniciada correctamente</h5>
            <h3 class="mt5">Bienvenido {{empleado.nombre}}!</h3>
            <p>Utiliza el menú de la izquierda para navegar a las secciones que quieras acceder.</p><br>
            <!-- <div class="element-groups-sm-custom"><a href="#" class="btn btn-white">DO THIS</a><a href="#" class="btn btn-default">CANCEL</a></div> -->
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>